@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); /*iconos de boostrap*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');/*fuente de google */

/*colores principales*/

 :root{
    --color-principal-300: #fff;
    --color-principal-400: #683ee6;
    --color-principal-500: #301c6b;
    --color-principal-600: #1e1346;

    --bordes-claro-card: 1px solid #d5dfff;
}  


*{
    background-color: var();
    font-family: dm sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



/*seccion principal*/
.section-services{
 background-color: #1e1345;
width: 100%;
height: 100vh;
padding-top: 50px;
}

/*titulo de la seccion*/
.title{
    font-size:2.25rem; /* 36px */
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 40px;
    
}
.section-title-p{
    margin: 0 101px 48px;
    padding:0 40px;

}

/*parrafo del inicio*/
.parraf-principal{
    font-size: 1rem;    /* 16px */
    color: #fff;
    margin: 24px 0 0;
    word-wrap: break-word;
    text-align: center;
    justify-self: center;
}

/*primera parte de la card el titulo parrafo*/
.content-card-title{
    color: #fff;
    font-size:18px;
    font-weight: 700; 
    line-height: 24px;   
}

@media (max-width: 768px) {
    .container-cards {
        flex-direction: column;
        gap: 16px;
    }

    .parraf-principal {
        max-width: 100%; /* Ajusta el ancho del párrafo */
        padding: 0 20px;
    }

    .card {
        width: 100%; /* Las cards ocuparán todo el ancho disponible */
    }
}

/*fin */


/*parrafos de las cards*/
.description-card-body-one{
    color: #fff;
    font-size:16px;
    font-weight: 400;
    width: 100;
   max-width: 296px;
    height: 72px;
    overflow-wrap: break-word;
}
.description-card-body-two{
    color: #fff;
    font-size:16px;
    font-weight: 400;
    width: 100;
    max-width: 296px;
    height: 96px;
    overflow-wrap: break-word;
}
.description-card-body-three{
    color: #fff;
    font-size:16px;
    font-weight: 400;
    width: 100;
   max-width: 296px;
   overflow-wrap: break-word;
    
}
/*fin*/

/*contenedor de las cards*/
.container-cards{
   display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: center;
   gap: 24px;
   
}

/*contendedores de las cars*/

.card{
   background:#301c6b;
   width: 360px;
   display: flex;
       flex-direction: column;
       gap: 16px;
       padding: 32px;
       border-radius: 16px;
         overflow: hidden;
         box-sizing: border-box;
   }


/*fin*/



.icon{
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #673de6;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*boton de empezar*/

.container-button{
    align-items: center;
    display: flex;
    justify-content: center;
   margin: 32px 0 0;
}

.btn-primary{
   
    background-color: #673de6;
    color: #fff;
    padding: 12px 48px;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border:2px solid #673de6;
    line-height: 1;
    font-size: 16px;
    
}

/*fin*/